.container {
    display: flex;
    flex-direction: row;
    padding: 10px 2rem;
    justify-content: space-between;
    align-items: center;
    background: #212529;
}

.container .left {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 22px;
    align-items: center;
}

.container .left p {
    cursor: pointer;
    color: #f3fefe;
}

.container .left button {
    cursor: pointer;
    font-size: 20px;
    padding: 6px 12px;
    border: 2px solid #030303;
    background: #fff;
}

.container .right h1 {
    color: rgb(220, 220, 123);
}

.container-m {
    display: none;
}

.menu {
    display: none;
}


@media screen and (width <=750px) {
    .container {
        display: none;
    }

    .container-m {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 1rem;
        align-items: center;
    }

    .container-m .left {
        font-size: 25px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        width: 100vw;
        gap: 1rem;
        padding: 1rem 0;
        font-size: 30px;
        height: 100dvh;
        backdrop-filter: blur(30px);
    }
}