<div class="container">
    <div class="left">
        <p routerLink="/">Home</p>
        <p>Explore Skill</p>
        <p routerLink="/my-skill">My Skill</p>
        <p>Wallet</p>
        @if(isLogin){
        <p>{{user.name}}</p>
        <p (click)="logout()">Log out</p>
        }@else {
        <p routerLink="/login">Log In / Sign Up</p>
        }
    </div>
    <div class="right">
        <h1 style="font-style: italic;">Skill Swap</h1>
    </div>
</div>

<div class="container-m">
    <div class="left">
        @if(isMenuOpen){
        <span (click)="openMenu()">
            <fa-icon [icon]="icon2"></fa-icon>
        </span>
        }@else {
        <span (click)="openMenu()">
            <fa-icon [icon]="icon1"></fa-icon>
        </span>
        }
    </div>
    <div class="right">
        <h1 style="font-style: italic;">Skill Swap</h1>
    </div>
</div>

@if(isMenuOpen){
<div class="menu">
    <p routerLink="/">Home</p>
    <p>Explore Skill</p>
    <p routerLink="/my-skill">My Skill</p>
    <p>Wallet</p>
    @if(isLogin){
    <p>{{user.name}}</p>
    <p (click)="logout()">Log out</p>
    }@else {
    <p routerLink="/login">Log In / Sign Up</p>
    }
</div>
}