<div class="container">
    @if (login) {
    <div class="box">
        <h1>Sign Up Here!</h1>
        <form action="">
            <input type="text" name="name" placeholder="Enter Name..." [(ngModel)]="user.name">
            <input type="email" name="email" placeholder="Enter Email..." [(ngModel)]="user.email">
            <input type="password" name="password" placeholder="Enter Password..." [(ngModel)]="user.password">
            <button (click)="signup()">Sign Up</button>
            <p>By siging Up you will get <strong>100 free</strong> credits.</p>
            <p>Already have an account. <span (click)="isLogin()">Login Here.</span></p>
        </form>
    </div>
    }@else {
    <div class="box">
        <h1>Log In Here!</h1>
        <form action="">
            <input type="email" name="email" placeholder="Enter Email..." [(ngModel)]="user.email">
            <input type="password" name="password" placeholder="Enter Password..." [(ngModel)]="user.password">
            <button (click)="loginBTN()">Log In</button>
            <p>Don't have an account. <span (click)="isLogin()">Sign Up Here.</span></p>
        </form>
    </div>
    }
</div>