<div class="container">
    <h1>What our user says?</h1>
    <div class="users">
        <div class="user">
            <h4>"I taught yoga and earned credits to learn web development. This platform is a game changer!"</h4>
            <h2>— Akhil H.</h2>
        </div>
        <div class="user">
            <h4>"I got better at English while teaching cooking. Love the exchange system!"</h4>
            <h2>— Rushant H.</h2>
        </div>
        <div class="user">
            <h4>"The skill-based credit model made it easy for me to pick up public speaking confidently."</h4>
            <h2>— Shayan B.</h2>
        </div>
    </div>
</div>