.container{
    height: calc(100dvh - 57px);
    background: linear-gradient(to right , rgb(220, 193, 123), rgb(248, 161, 56), rgb(220, 193, 123  ));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container .top{
    width: 70%;
}

.container .top h1{
    font-size: 45px;
    width: 100%;
    text-align: center;
}

.container h6{
    font-size: 22px;
}

.container .bottom{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container .bottom button{
    font-size: 24px;
    padding: 4px 16px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 4px;
    transition: all ease 0.7s;
}

.container .bottom .high{
    background: rgb(220, 193, 123  );
}

.container .bottom button:hover{
    transform: scale(1.07);
}

@media screen and (width <= 750px) {
    .container{
        padding: 0 1rem ;
        background: linear-gradient(to top , rgb(220, 193, 123), rgb(248, 161, 56), rgb(220, 193, 123  ));
        gap: 2rem;
        height: fit-content;
        padding: 9rem 0;
    }

    .container .top{
        width: 90%;
    }


    .container .mid{
        text-align: center;
    }
    
    .container .bottom{
        gap: 8px;
    }
}